[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BiDimRegression"]
	path = BiDimRegression
	url = https://github.com/alexander-pastukhov/bidim-regression
	shallow = true
	registered = true
[submodule "bistablehistory"]
	path = bistablehistory
	url = https://github.com/alexander-pastukhov/bistablehistory
	shallow = true
	registered = true
[submodule "eyelinkReader"]
	path = eyelinkReader
	url = https://github.com/alexander-pastukhov/eyelinkreader
	shallow = true
	registered = true
[submodule "TriDimRegression"]
	path = TriDimRegression
	url = https://github.com/alexander-pastukhov/tridim-regression
	shallow = true
	registered = true
